{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zino daily post</title>
    <link rel="stylesheet" href="{%static 'style.css'%}" />
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />
  </head>
  <body>
    <section>
      <!-- navigation part -->
      <nav>
        <div class="wrapper">
          <h1>Zino daily post</h1>
          <div class="minidiv">
            <ul>
              <li><a href="{%url 'home' %}">Home </a></li>
              <li><a href="{%url 'news'%}">News</a></li>
              <li><a href="{%url 'politics'%}">Politics</a></li>
              <li><a href="{%url 'metro'%}">Metro</a></li>
              <li><a href="{%url 'entertain'%}">Entertainment</a></li>
              <li><a href="">Sport</a></li>
          </ul>
          </div>
          <div class="hamburger">
            <div class="lines1"></div>
            <div class="lines2" style="width: 19px"></div>
            <div class="lines3" style="width: 15px"></div>
          </div>
          <div class="close">
            <img src="svg/close.svg" alt="" />
          </div>
        </div>
      </nav>
      <!-- body part 10 -->
      <div class="f-text">
        <h4>News</h4>
      </div>
      <div class="g-text">
        <h1>
         {{article5.title}}
        </h1>
     
        <img src="{{article5.image.url}}" alt="">
         <p>
          {{article5.body}}
        </p>
        <p>
            {{article5.body2}}
          </p>
          <p>
            {{article5.body3}}
          </p>
          <p>
           {{article.body4}}
          </p> 


      </div>
      
   
    

      <footer>
        <h1>Zino daily post</h1>
        <div class="e-text">
            <img src="{%static 'images/instagram.svg'%}" alt="">
            <img src="{%static 'images/twitter.svg'%}" alt="">
            <img src="{%static 'images/linkedin.svg'%}" alt="">
        </div>
        <ul>
            <li><a href="">Advertise</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Privacy policy</a></li>
            <li><a href="">Terms</a></li>
        </ul>
                </footer>
</section>

<!-- js duplex -->
<script src="{%static 'insex.js'%}"></script>
</body>
</html>