{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zino daily post</title>
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <section>
        <!-- navigation part -->
        <nav>
            <div class="wrapper">
                <h1>Zino daily post</h1>
                <div class="minidiv">
                    <ul>
                        <li><a href="{%url 'home' %}">Home </a></li>
                        <li><a href="{%url 'news'%}">News</a></li>
                        <li><a href="{%url 'politics'%}">Politics</a></li>
                        <li><a href="{%url 'metro'%}">Metro</a></li>
                        <li><a href="{%url 'entertain'%}">Entertainment</a></li>
                        <li><a href="">Sport</a></li>
                    </ul>
                </div>
                <div class="hamburger">
                <div class="lines1"></div>
                <div class="lines2" style="width: 19px;"></div>
                <div class="lines3" style="width: 15px;"></div>
                </div>
                <div class="close">
                    <img src="{%static 'svg/close.svg'%}" alt="">
                </div>

            </div>
        </nav>
        <hr>
        <!-- body part one -->
        <div class="header" >
            <h4 style="text-align: center;" >News</h4>

        </div>
        {%for topic in new|slice:'0:1'%}
        <div class="a-text">
            <img src="{{topic.image.url}}" alt="">
        </div>
        <div class="a2-text">
            <a href="{%url 'article3' topic.id %}">
            <p> News: <span>1 hour ago</span></p>
            <h1><a href="{%url 'article3' topic.id %}">{{topic.title}}</a></h1>
            <p>{{topic.body|truncatechars:50}} </p>
            </a>
        </div>
        {%endfor%}

        <!--body part 1 (ii)  -->

        <div class="over">
            {%for topic in new|slice:'0:2'%}
        <div class="b-text">
            <img src="{{topic.image.url}}" alt="">
            <a href="{%url 'article3' topic.id %}">
            <h3><span style="color: red;">{{topic.date_created}}</span> <br> <a href="{%url 'article3' topic.id %}">{{topic.title}}</a></h3>
            </a>
        </div>
        {%endfor%}
        
      
        </div>

        <!-- body part 3 -->
        <div class="over2">
            {%for topic in new|slice:'0:4'%}
        <div class="b-text">
            <img src="{{topic.image.url}}" alt="">
            <a href="{%url 'article3' topic.id %}">
            <h3> <span>{{topic.title}}</span> <br> <a href="{%url 'article3' topic.id %}">{{topic.body|truncatechars:30}}
            </a></h3>
            </a>
        </div>
        {%endfor%}
        </div>
        <footer>
            <h1>Zino daily post</h1>
            <div class="e-text">
                <img src="{%static 'images/instagram.svg'%}" alt="">
                <img src="{%static 'images/twitter.svg'%}" alt="">
                <img src="{%static 'images/linkedin.svg'%}" alt="">
            </div>
            <ul>
                <li><a href="">Advertise</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms</a></li>
            </ul>
                    </footer>
</section>

<!-- js duplex -->
<script src="{%static 'insex.js'%}"></script>
</body>
</html>