<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zino daily post</title>
    <link rel="stylesheet" href="style.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <section>
        <!-- navigation part -->
        <nav>
            <div class="wrapper">
                <h1>Zino daily post</h1>
                <div class="minidiv">
                    <ul>
                        <li><a href="index.html">Home </a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="politics.html">Politics</a></li>
                        <li><a href="metro.html">Metro</a></li>
                        <li><a href="entertainment.html">Entertainment</a></li>
                        <li><a href="sport.html">Sport</a></li>
                    </ul>
                </div>
                <div class="hamburger">
                <div class="lines1"></div>
                <div class="lines2" style="width: 19px;"></div>
                <div class="lines3" style="width: 15px;"></div>
                </div>
                <div class="close">
                    <img src="svg/close.svg" alt="">
                </div>

            </div>
        </nav>
        <hr>
        <!-- body part one -->
        <div class="header" >
            <h4 >Sport</h4>

        </div>
        <div class="a-text">
            <img src="images/Buhari-2.jpg" alt="">
        </div>
        <div class="a2-text">
            <p> News: <span>1 hour ago</span></p>
            <h1><a href="">Buhari shut down IPOB-linked Youtube channels- Buhari govt tells Google</a></h1>
            <p>The Nigerian government has urged google to shut down the youtube channel belonging to the IPOB. </p>

        </div>

        <!--body part 1 (ii)  -->
        <div class="over">
        <div class="b-text">
            <img src="images/1200-x-628.jpg.webp" alt="">
            
            <h3> Politics / <span>3 hours ago</span> <br> <a href="">We must win presidential, governmentship, all elections in 2023 -Apc chair, Adamu</a></h3>
        </div>
        <div class="b-text">
            <img src="images/1200-x-628.jpg.webp" alt="">
            
            <h3> Politics / <span>3 hours ago</span> <br> <a href="">We must win presidential, governmentship, all elections in 2023 -Apc chair, Adamu</a></h3>
        </div>   
      
        </div>
        <div class="over">
        <div class="b-text">
            <img src="images/1200-x-628.jpg.webp" alt="">
            
            <h3> Politics / <span>3 hours ago</span> <br> <a href="">We must win presidential, governmentship, all elections in 2023 -Apc chair, Adamu</a></h3>
        </div>
        <div class="b-text">
            <img src="images/1200-x-628.jpg.webp" alt="">
            
            <h3> Politics / <span>3 hours ago</span> <br> <a href="">We must win presidential, governmentship, all elections in 2023 -Apc chair, Adamu</a></h3>
        </div>   
      
        </div>
        <footer>
            <h1>Zino daily post</h1>
            <div class="e-text">
                <img src="images/instagram.svg" alt="">
                <img src="images/twitter.svg" alt="">
                <img src="images/linkedin.svg" alt="">
            </div>
            <ul>
                <li><a href="">Advertise</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms</a></li>
            </ul>
                    </footer>

    </section>
     <!-- js duplex -->
     <script src="insex.js"></script>
</body>
</html>